@import url('https://fonts.googleapis.com/css?family=Acme|Inconsolata');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
    background-color:rgb(233, 229, 219);
}
a:link{
    text-decoration: none;
    margin: 0 auto;
}
button{
    /* padding: 1px 5px 1px 5px; */
    border-radius: 5px;
    background-color:  rgba(53, 115, 153, 0.733);
}
.desc{
    font-size: 1.3em;
    font-weight: bold;
}
.nameCo{
    margin-left: 7%;
    color:rgb(20, 48, 65);
}
button:hover {
    background-color:rgba(26, 70, 97, 0.61);
    color: white;
}


/* START HEADER */
#logo{
    float: left;
}
.right{
    float: right;
}
.coverPic{
    margin: 10px;
}
.link1{
    margin-bottom: 2%;
}
/* END HEADER */

/* START NAVBAR  */
.navbar{
    overflow: hidden;
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    font-weight: bold;
    /* padding: 5px; */
    font-size: 18px;
    background-image: linear-gradient(90deg, rgb(58, 84, 180), rgb(53, 114, 153));
}
nav a{
    /* margin-top: 20px; */
    color:white;
}
.navbar a:link{
    text-decoration: none;
}
a {
    padding: 10px 16px;
    /* margin-top: 15px; */
    
}

nav a:hover{
    background-color:rgba(26, 70, 97, 0.61);
    color: white;
    /* padding: 5px; */
    border-radius: 5px;
}

#search{
    float: right;
    border: 1px solid grey;
}
input{
    padding: 8px 16px;
    font-size: 17px;
    border: none;
}

form{
    margin-right:1%;
}
form button{
    background-color: rgb(53, 114, 153);
    margin-left:-7px;
    padding: 9px 20px;
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color:rgba(26, 70, 97, 0.61);
    color: white;
}
@media screen and (max-width: 600px) {
    #search {
        float: left;
    }
    nav a{
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 6px;
    }
}
/* END NAVBAR */

/* START WITH CONTENT OF WEBPAGE */
.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-gap: 10px; */
    background-color:rgb(233, 229, 219);
    padding: 10px;
}
.blockLeft{
    border: 1px solid black;
    margin:5px;
    display: grid;
    grid-template-row: auto auto;
}
.blockRight{
    border: 1px solid black;
    margin:5px;
}
.topSi{
    display:grid;
    grid-template-rows: 80% 20%;
}


.grid-left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.news{
    text-align: center;
    margin: 2%;
    /* justify-content: center; */
    /* align-content: center; */
}
.review{
    margin: 2%;
    
}

h2, h3{
    margin:5px;
    background-color: rgb(53, 114, 153);
    padding: 0.4em;
    color: white;
}

.btn{
    text-align: center;
    margin-top: 2%;
    
}

.btn-1{
    padding: 1.5% 4%;
    margin: 0 8%;
    font-size: 1.2em;
    
}

.btn-2{
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 1.5% 4%;
    font-size: 1em;

}
.center{
    text-align: center;
}

.grid-btn button{
    /* margin: 20px; */
}

aside {
    overflow: hidden;
    width: 50%;
    padding-left: .5rem;
    margin:2%;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    font-size: 1.7em;
    max-height: 85%;
    /* color: #29627e; */
}

ul.square {
    list-style-type: square;
    
  }
  .square li{
      padding:5px;
  }

/* END WITH CONTENT OF WEBPAGE */

/*START FOOTER */
footer{
    text-align: center;
}
.navfooter a{
    color:black;
    
}
.navfooter a:link{
    text-decoration: underline;
}
.navfooter a:hover{
    background-color:rgb(53, 114, 153);
    color: white;
    border-bottom-style: 5px;
    border-bottom-right-radius: 5px;
}
hr{
    height: 15px;
    background-color: rgb(53, 114, 153);
}
/* END FOOTER  */
